<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pose Viewer</title>
  <link rel="stylesheet" href="/static/style.css">
  <script type="importmap">
    {
      "imports": {
        "three": "/static/lib/three/three.module.js",
        "three/addons/": "/static/lib/three/addons/"
      }
    }
  </script>
  <script type="module" src="/static/output-cell.js"></script>
  <script type="module" src="/static/script.js"></script>
</head>
<body>
  <div id="center-panel" class="panel">
    <output-cell></output-cell>
  </div>
</body>
</html>
